.cssload-triangles {
	display: none;
}

[v-cloak], #container.loading {
	display: none !important;
}

[v-cloak] + .cssload-triangles, #container.loading + .cssload-triangles {
	display: block;
}

.glyphicon-refresh-animate {
	-animation: spin 1s infinite linear;
	-webkit-animation: spin2 1s infinite linear;
}

@-webkit-keyframes spin2 {
	from { -webkit-transform: rotate(0deg);}
	to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
	from { transform: scale(1) rotate(0deg);}
	to { transform: scale(1) rotate(360deg);}
}

#video-list li {
	list-style: none;
	padding: 10px 0;
}
