body {
	padding-top: 50px;
}

.video_thumbnail {
	width: 100px;
	height: 100px;
	display: inline-block;
}

.cssload-triangles {
	display: none;
}

[ng-cloak], #container.loading {
  display: none !important;
}

[ng-cloak] + .cssload-triangles, #container.loading + .cssload-triangles {
	display: block;
}